$primary-color: #83FFF2;
$primary-color-dark: #49B3A8;
$secondary-color: #FFE169;
$secondary-color-dark: #B3A052;


body { 
   background-color: silver; 
   background-image: linear-gradient(90deg, black, white);
   background-size: cover;
}

.Logo {
   font-family: 'Work Sans', sans-serif;
   margin: 0 auto; 
   width: 300px; 
   padding: 5px;  
   border-style: solid; 
   border-width: 15px; 
   text-align: right; 
   letter-spacing: 5px; 
   line-height: normal;
   background-image: linear-gradient(90deg, white, $primary-color);
}
#Rules {
   font-family: 'Work Sans', sans-serif;
   margin: 0 auto; 
   width: 500px; 
   padding: 5px;  
   border-style: solid; 
   border-color: black; 
   border-width: 8px; 
   text-align: center; 
   letter-spacing: 5px; 
   line-height: normal;
   background-image: linear-gradient(90deg, white, $primary-color);   
   color: $secondary-color-dark; 
}
h1 { 
   font-size: 50px;
   text-align: center;  
   border-right-style: dotted;
   border-left-style: dotted; 
   border-width: 5px; 
   border-radius: 5px; 
   border-color: $primary-color-dark; 
}

#Good_Design {
   font-family: 'Work Sans', sans-serif; 
   font-size: 58px; 
   margin: 0 auto; 
   position: relative; 
   top: 25px; 
   display: block;
   width: 450px; 
   text-decoration: none; 
   color: Black; 
   background-image: linear-gradient(90deg, white, $primary-color);
   padding: 16px; 
   border-radius: 50px; 
   text-align: center; 
   border-style: ridge;
   border-width: 6px; 
}

#Good_Design:hover {
   color: $primary-color-dark;
}

nav {
   font-family: 'Work Sans', sans-serif;   
   margin: 0 auto; 
   display: block; 
   text-align: center; 
   padding: 10px; 
   position: relative; 
   top: 8px; 
   font-size: 30px; 
   background-color: black; 
   color: white; 
   width: 400px; 
   border-radius: 5px; 
}

a {
   text-decoration: none; 
   color: white; 
}

a:hover {
   color: $secondary-color-dark; 
} 

p {
   font-family: 'Nunito', sans-serif;
   line-height: 26px;
   background-image: linear-gradient(90deg, white, $primary-color);
   font-size: 18px; 
   width: 750px; 
   border-color: black; 
   border-style: solid; 
   border-width: 4px; 
   margin: 0 auto; 
   position: relative; 
   top: 15px; 
   padding: 8px; 
   font-weight: 400;
}