$primary-color: #83FFF2;
$primary-color-dark: #49B3A8;
$secondary-color: #FFE169;
$secondar-color-dark: #B3A052;


body {
   background-image: linear-gradient( to right, white, $primary-color);
}

.Logo {
   width: 300px; 
   padding: 5px;  
   border-style: solid; 
   border-width: 15px; 
   text-align: right; 
   letter-spacing: 5px; 
   line-height: normal;
}

h1 {
   font-size: 50px;
   text-align: center;  
}